{% extends 'base.html' %}

{% block content %}
<div class="row g-4">
    <div class="col-md-6">
        <div class="card main-card p-4 text-center">
            <h3>Total Students</h3>
            <h1>{{ students }}</h1>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card main-card p-4 text-center">
            <h3>Total Attendance</h3>
            <h1>{{ attendance }}</h1>
        </div>
    </div>
</div>

<div class="text-center mt-5">
    <a href="{% url 'mark_attendance' %}" class="btn btn-custom">
        Mark Attendance
    </a>
</div>
{% endblock %}